numpy
pandas
requests
requests-cache
retry-requests
openmeteo-requests
python-dotenv
joblib
scikit-learn
imbalanced-learn
xgboost
lightgbm
catboost
statsmodels
tensorflow
ctgan
matplotlib
seaborn
plotly
folium
branca
streamlit
streamlit-folium
streamlit-autorefresh
geopandas
osmnx
networkx
shapely
torch
transformers
chronos-forecasting
