numpy
pandas
requests
python-dotenv
joblib
scikit-learn
imbalanced-learn
optuna
xgboost
lightgbm
catboost
statsmodels
tensorflow
ctgan
matplotlib
seaborn
plotly
kaleido
python-docx
folium
streamlit
streamlit-folium
toml
geopandas
osmnx
networkx
shapely
torch
